.reports-section {
  background: #fff;
  min-height: 100vh;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease;
}

.reports-section > h2 {
  font-size: 2.6rem;
  text-align: center;
  font-weight: 700;
  padding-top: 1em;
  padding-bottom: 1.5em;
  color: #756e0d;
}

.sidebar.open ~ .reports-section {
  left: 0px;
  width: calc(100% - 250px);
}

/* Table Styles */
.recent-transactions {
  display: grid;
  margin-left: 78px;
  align-items: center;
}

.recent-transactions > section {
  width: 95%;
  margin-block: 3em;
  padding-inline: 1.5em;
}

.recent-transactions p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  padding-bottom: 1em;
}
body {
  background-color: #fff;
  padding: 20px;
}

.top-information,
.bottom-information {
  padding: 0 20px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
   background-color: #29cc97;
   top: 14px;
   width: 16px;
   height: 16px;
   line-height: 16px;
   border: 0;
   font-weight: bold;
   box-shadow: none;
  }

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  background-color: fec400;
}