.reports-section {
    position: relative;
    background: #FFF;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.reports-section {
    left: 250px;
    width: calc(100% - 250px);
}

.reports-section .text {
    display: inline-block;
    color: #756e0d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}