.reports-section {
  background: #fff;
  min-height: 100vh;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease;
}

.reports-section > h2 {
  font-size: 2.6rem;
  text-align: center;
  font-weight: 700;
  padding-top: 1em;
  padding-bottom: 1.5em;
  color: #756e0d;
}

.sidebar.open ~ .reports-section {
  left: 0px;
  width: calc(100% - 250px);
}

.recent-transactions > div {
  margin: 5em auto;
}

.wrapper {
  margin: 0 auto;
  overflow: auto;
  max-width: 800px;
  max-height: 300px;
  margin-block: 25px;
}

.text-center {
  text-align: center;
  font-size: 1.5rem;
}