.dashboard-section {
  background: #fff;
  min-height: 100vh;
  top: 0;
  margin-left: 78px;
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .dashboard-section {
  left: 0px;
  width: calc(100% - 250px);
}

/* Table Styles */
.recent-transactions {
  display: grid;
  align-items: center;
}

.recent-transactions > section {
  width: 95%;
  margin-block: 3em;
  padding-inline: 1.5em;
}

.recent-transactions p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  padding-bottom: 1em;
}

.recent-transactions .table-wrapper {
  margin: 10px 0 70px;
  border: 1px solid #eee;
}

.recent-transactions .fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.recent-transactions .fl-table td,
.recent-transactions .fl-table th {
  text-align: center;
  padding: 20px;
}

.recent-transactions .fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.recent-transactions .fl-table thead th {
  color: #ffffff;
  background: #756e0d;
}

.recent-transactions .fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #b4aa2a;
}

.recent-transactions .fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */

@media (max-width: 767px) {
  .reports-section > h2 {
    font-size: 1.8rem;
  }

  .recent-transactions .table-wrapper {
    border: none;
  }

  .recent-transactions .fl-table {
    display: block;
    width: 100%;
  }

  .recent-transactions .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .recent-transactions .fl-table thead,
  .recent-transactions .fl-table tbody,
  .recent-transactions .fl-table thead th {
    display: block;
  }

  .recent-transactions .fl-table thead th:last-child {
    border-bottom: none;
  }

  .recent-transactions .fl-table thead {
    float: left;
  }

  .recent-transactions .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .recent-transactions .fl-table td,
  .recent-transactions .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }

  .recent-transactions .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .recent-transactions .fl-table tbody tr {
    display: table-cell;
  }

  .recent-transactions .fl-table tbody tr:nth-child(odd) {
    background: none;
  }

  .recent-transactions .fl-table tr:nth-child(even) {
    background: transparent;
  }

  .recent-transactions .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }

  .recent-transactions .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }

  .recent-transactions .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .recent-transactions .table-wrapper {
    max-width: 24em;
  }
}
