.report-table {
    padding: 0 5em;
    display: flex;
    margin: 0 auto 3em;
    align-items: center;
    flex-direction: column;
    min-height: fit-content;
    justify-content: center;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
}

table caption {
    color: #9E9628;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 0 1.5em;
    text-transform: uppercase;
}

table caption span {
    color: #000;
}

table tr {
    transition: all 1s ease-in-out;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table tr.slide-out {
    transform: translateX(100%);
}

table th {
    font-size: 1em;
    padding: 2.825em;
    text-align: center;
    letter-spacing: .1em;
    border: 1px solid #ddd;
    text-transform: uppercase;
}

table td {
    padding: 1.625em;
    text-align: center;
    border: 1px solid #ddd;
}



@media screen and (max-width: 600px) {

    .left-arrow {
        font-size: 1.3rem;
    }

    .report-table {
        padding: 0 1em;
    }

    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 2.625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
    /* aria-label has no advantage, it won't be read inside a table */
    content: attr(aria-label);

        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}