/* USER PROFILE */
.personal-info {
    margin: 5em 0 0;
}

.personal-info__header {
    padding: 0 3em;
}

.personal-info__title {
    font-weight: normal;
    color: #9E9628;
    font-size: calc(2.5rem + ((1vw - 0.8rem) * 0.5));
}

.user-profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile__info {
    gap: 3em;
    width: 80%;
    margin: 2.5em;
    display: flex;
    flex-wrap: wrap;
    padding: 2.5em 0;
    align-items: center;
    border: 1px solid #9b9b9b;
    justify-content: space-around;
}

.user-profile__info-heading {
    font-size: 0.9em;
    margin-bottom: 3em;
}

.user-profile__info-heading span {
    color: #9E9628;
    padding-left: 0.5em;
}

.user-profile__details-list {
    gap: 2em;
    display: grid;

    /* grid-template-columns: 1fr 1fr; */
}

.user-profile__details-list li {
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-profile__details-list h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.user-profile__photo {
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-profile__photo-image {
    height: 25em;
    object-fit: cover;
    object-position: center;
}




/* REPORT SECTION */
.report-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-section__items {
    gap: 2em;
    width: 100%;
    display: flex;
    margin: 2em 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.report-item {
    width: 100%;
    max-width: 13em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.report-item__button {
    gap: 0.5em;
    color: #fff;
    display: flex;
    width: 100%;
    padding: 2.5em 1.3em;
    align-items: center;
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: center;
    transition: background 500ms ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(147deg, #9E9628 0%, #756e0d 74%);
}

.report-item__button:hover {
    box-shadow: none;
    background: rgb(2, 0, 36);
}

.report-item__heading {
    gap: 1em;
    display: flex;
    padding: 1em 0;
    place-items: center;
}

.report-item__category {
    text-transform: uppercase;
}

.report-item__button span {
    font-weight: 600;
}

.report-item__button h3 {
    font-size: 0.5rem;
}